.feature__card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  width: 362px;
  height: 389px;
  background: var(--color-main-leniar);
  backdrop-filter: blur(100px);
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 30px;
}
